*{
	box-sizing:border-box;
	margin:0;padding:0;
}
h3 {
  text-align:center;
}
 
p {
  text-align:center;
   font-weight:bold;
   color:blue;
  font-size: 12pt;
  }


form{
	width:500px;
	padding:32px;
	border:1px solid #000;
	border-radius:10px;
	margin:32px auto;
	background-color:#b2ccff;
}
input[type="text"],select,textarea{
	display:block;
	padding:4px 8px;
	width:100%;
	margin:8px 0;
}
textarea{height:96px;resize:none;}


label{
	font-weight:bold;
	display:block;
	margin:8px 0;
}

table {
		border-collapse: collapse;
		background-color:#b2ccff;
		text-align:center;
}

th,
td {
		border: 1px solid black;
		padding: 20px;
}

.marketing label,.rgpd{display:inline-block;font-weight:normal;}
.rgpd{width:90%;}
mark{float:right;}
